#POSTGRES Credentials
DB_NAME=YOUR_DB_NAME
HOST=YOUR_HOST_NAME
USER=postgres
PASSWORD=YOUR_PASSWORD
PORT=YOUR_PORT

#Regex
SUNSCREEN_REGEX=\b(?:sun(?:block|veil|veila|care|guard)|sun\scare|sun\sguard|spf|uv\sshield|uv\sprotect|surya)\b
BABY_CARE_REGEX=\b(?=.*baby)(?=.*balm|lotion|oil|balm|wash|rub|cream|sunscreen|shampoo)