TARGET_PATH=tARGET_PATH
SOURCE_PATH=RAW_DATASET_PATH

#db_path
LOC_DB_PATH=LOCATION_DB_PATH
CAMPAIGN_DB_PATH=CAMPAIGN_DB_PATH
AGE_DB_PATH=AGE_DB_PATH
KEYWORD_DB_PATH=KEYWORD_DB_PATH

#db_name
db_loc=LOC.duckdb
db_camp=CAMPAIGN.duckdb
db_age=AGE.duckdb
db_keyword=KEYWORD.duckdb

#access token
ACCESS_TOKEN=PLACE_DUCKDB_TOKEN_HERE
