#POSTGRES Credentials
DB_NAME=YOUR_DB_NAME
HOST=YOUR_HOST
USER=USER
PASSWORD=YOUR_PASSWORD
PORT=PORT

#EXCEL
DATASOURCE_PATH=LOCAL_DIRECTORY_PATH
EXCEL_FILENAME_1=PRODUCT_SALES_CSV
EXCEL_FILENAME_2=BRAND_SALES_CSV
TABLE_NAME=TABLE_NAME
CATEGORY=SKINCARE_CATEGORY
FILE_NAME=FILE_NAME_1
FILE_NAME_2=FILE_NAME_2
N_ROWS=ROWS
CLEAN_PATH_BPOMDB=BPOM_FILE_CLEANED_PATH
BRAND_PRODUCT_VAR=YOUR_BRAND_PRODUCT_PATH
