#Input Path to Place the Summary of Analysis

TARGET_PATH=DEFINE_TARGET_PATH
DATA_PATH=DATASOURCE_PATH_LOCAL
STOPWORDS_PATH=STOPWORDS_PATH_LOCAL
BRAND_PATH=BRAND_PATH_LOCAL

#Input Database Path
DB_PATH=DB_PATH
DB_LOG_PATH=DUCKDB_LOCAL_LOG_PATH
PIPELINE_DB_SKCARE=SKCARE_DUCKDB_PATH
PIPELINE_DB_HAIRCARE=HAIRCARE_DUCKDB_PATH
PIPELINE_DB_SUPLEMEN=SUPLEMEN_DUCKDB_PATH
PIPELINE_DB_BABYCARE=BABYCARE_DUCKDB_PATH
PIPELINE_DB_BODYCARE=BODYCARE_DUCKDB_PATH
PIPELINE_DB_LIPCARE=LIPCARE_DUCKDB_PATH
PIPELINE_DB_DECORATIVE=DECOR_DUCKDB_PATH

#Time Window Filtering
TIME_WINDOW_START=TIME_WINDOW_START
TIME_WINDOW_END=TIME_WINDOW_END

#database Category Filtering
category=YOUR_CATEGORY

#Define the Data Limit
Top_N=20

#PPT Parameters
TITLE_TEXT=TITLE_TEXT
Month=MONTH
PPT_NAME=FOUNDATIONMARKET.pptx
template_path=PPT_ASSET_TEMPLATE